<div class="container-fluid navbar-color">
    <nav class="navbar navbar-expand-md " id="nav-bar">
        <a class="navbar-brand" href="#">TREFLE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <form class="form-inline nav-form">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-submit btn-outline-dark " type="submit">Search</button>
            </form>
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a href="/">HOME</a>
                </li>
                <li class="nav-item">
                    <a href="/wishlist">WISHLIST</a>
                </li>
                <li class="nav-item">
                    <a href="/cart">CART</a>
                </li>
                <li class="nav-item">
                    <a href="/profile">PROFILE</a>
                </li>
                {{#if user}}
                <li class="nav-item">
                    <a href="/logout">LOGOUT</a>
                </li>
                {{else}}
                {{!-- <li class="nav-item">
                    <a href="/login">Login</a>
                </li> --}}
                {{/if}}


            </ul>

        </div>
    </nav>
</div>

{{!-- 
<ul id="nav-list">
            <li class="list-group-item border-0">
                <a href="/">HOME</a>
            </li>
            <li class="list-group-item border-0">
                <a href="/wishlist">WISHLIST</a>
            </li>
            <li class="list-group-item border-0">
                <a href="/cart">CART</a>
            </li>
            <li class="list-group-item border-0">
                <a href="/profile">PROFILE</a>
            </li>
            <li class="list-group-item border-0">
                <a href="/logout">LOGOUT</a>
            </li>
        </ul> --}}