<div class="container-fluid m-0 p-0 bg-dark" id="section-1">
    <div class="container-fluid m-0 p-0">
        <nav class="navbar py-4 " id="nav-bar">
            <span class="navbar-brand pl-3 text-light">LOGO</span>
            <form class="form-inline  px-2">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item border-0">
                    <a href="">WISHLIST</a>
                </li>
                <li class="list-group-item border-0">
                    <a href="">MyCART</a>
                </li>
                <li class="list-group-item border-0">
                    <a href="">PROFILE</a>
                </li>
            </ul>
        </nav>
    </div>
</div>