{{> navbar}}

{{!-- caraousel section --}}
<div id="username" style="display: none;">{{ username }}</div>

<div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">

        <div class="carousel-item active" style="background: #25c;">
            <div class="caption">
                <h1>Welcome To My PlantHUB</h1>
                <h2>Shop your favourite plant</h2>
            </div>
        </div>

        <div class="carousel-item" style="background: #52c;">
            <div class="caption">
                <h1>Something and share your whatever</h1>
                <h2>Else it easy for you to do whatever this thing does.</h2>
            </div>
        </div>
        <div class="carousel-item"
            style="background-image: url('image/hessam-hojati-aI6BoB5h9Lc-unsplash.jpg'); background-size: cover;">
            <div class="caption">
                <h1>Create and share your whatever</h1>
                <h2>Make it easy for you to do whatever this thing does.</h2>
            </div>
        </div>
    </div>

    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div>

{{!-- carousel ends --}}

<div class="bg-light" id="trending">
    <div class="mx-auto" id="trend-heading" style="text-align: center;">
        <h1>TRENDING PRODUCTS</h1>
        <hr>
        {{!-- <p style=" text-align: center;">our plant house</p> --}}
    </div>
    <div class="container">
        <div class="row  row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3" id=" trending-cards">
            <div class="col mb-4">
                <div class=" t-card" id="t-pro-1">
                    <img class="product-image" src="./image/paul-green-5lRxNLHfZOY-unsplash.jpg" lt="...">
                    <div class="t-title">
                        <h5>Card title 1</h5>
                        <p>This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div>Price-800$</div>
                    </div>
                    <div>
                        <div class="btn-group">
                            <button type="button" class="wishlist-btn">ADD TO WISHLIST</button>
                            <button type="button" class="cart-btn">ADD TO CART</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class=" t-card" id="t-pro-2">
                    <img class="product-image" src="./image/paul-green-5lRxNLHfZOY-unsplash.jpg" lt="...">
                    <div class="t-title">
                        <h5>Card title 2</h5>
                        <p>This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div>Price-800$</div>
                    </div>
                    <div>
                        <div class="btn-group">
                            <button type="button" class="wishlist-btn ">ADD TO WISHLIST</button>
                            <button type="button" class="cart-btn ">ADD TO CART</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="t-card" id="t-pro-3">
                    <img class="product-image" src="./image/paul-green-5lRxNLHfZOY-unsplash.jpg" lt="...">
                    <div class="t-title">
                        <h5>Card title 3</h5>
                        <p>This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div>Price-800$</div>
                    </div>
                    <div>
                        <div class="btn-group">
                            <button type="button" class="wishlist-btn ">ADD TO WISHLIST</button>
                            <button type="button" class="cart-btn ">ADD TO CART</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


<!-- copyright section -->

<!-- !copyright section -->