<h1>Login</h1>
<p>New User? Signup First <a href="/signup">Signup</a></p>
<form action="/login" method="POST">
    <input type="text" placeholder="username" name="username">
    <input type="text" placeholder="password" name="password">
    <button type="submit">login</button>
</form>