<h1>Login</h1>
<form action="/signup" method="POST">

    <p>Already a User? Login Now <a href="/login">Login</a></p>

    <input type="text" placeholder="username" name="username">
    <input type="text" placeholder="Email" name="email">
    <input type="text" placeholder="password" name="password">
    <button type="submit">Signup</button>

</form>