{{> navbar}}
<h1 class="m-3">{{ heading }}</h1>
<p>{{ para }}</p>
<ul class="list-group">


    {{#each product as |item|}}
    <li class="list-group-item">{{item.name}} {{item.price}}</li>
    {{/each}}

</ul>