{{> navbar}}
<h1 class="m-3">{{ heading }}</h1>
<p>{{ para }}</p>
<ul class="list-group" id="list">



    {{#each products as |item|}}
    <li class="list-group-item">{{item.item_name}} {{item.item_description}}</li>
    {{/each}}

</ul>