#section-1 {
    height: 70vh;
    position: relative;
    background: url('/image/hessam-hojati-aI6BoB5h9Lc-unsplash.jpg') center center/cover;
}

#section-1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* z-index:-100; */
    background: rgba(0, 0, 0, 0.774);
}



#nav-bar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#nav-bar>* {
    /* display:flex; */
    flex: 1 1 0;
    /* justify-content: center; */
}

#nav-bar ul {
    display: flex;
    justify-content: center;
}

#nav-bar ul li {
    background: none;
}

#nav-bar ul li a {
    text-decoration: none;
    color: white;
}

#nav-bar form {
    flex-grow: 2;
    display: flex;
}

#nav-bar form>input {
    flex-grow: 3;
}

#nav-bar span {
    text-align: center;
}


#nav-bar input {
    background-color: transparent;
}

#trending {
    margin-top: -400px;
}

#trending-cards .card {
    background: linear-gradient(to bottom, rgb(138, 44, 44), rgb(223, 223, 152))
}

#trending-cards .card img {
    /* border-radius: 50%; */
    margin-top: 20px;
    padding: 0 20px;
}

/* #trend-heading{
    position: sticky;
    top:0;
    left:0;
    right:0;
    bottom:0;
    color: white;
} */

#check {
    color: red;
}

#para {
    font-size: 50px;
}


@media only screen and (max-width: 600px) {
    #nav-bar {
        display: block;
    }

}