/* .navbar-color {
  background-color: #21ee0690 !important;
} */
.navbar-color {
  background-color: black;
}
.navbar-brand {
  color: white;
}
.navbar-toggler {
  z-index: 100;
}
#nav-bar ul li {
  background: none;
  margin: 0 10px;
}

#nav-bar ul li a {
  text-decoration: none;
  color: white;
}

#nav-bar form {
  flex-grow: 2;
  display: flex;
  justify-content: center;
}

#nav-bar form > input {
  flex-grow: 0.5;
}

span {
  text-align: center;
}

#nav-bar input {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
.btn-submit {
  background-color: rgb(10, 77, 27);
  color: white;
}
