* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: -webkit-linear-gradient(left, #2aa27e, #458c37);
}

#header {
  text-align: center;
  margin: 10px 0;
  color: white;
}
#header-line {
  position: relative;
  top: 0px;
  border: none;
  height: 6px;
  background: white;
  /* margin-bottom: 50px; */
}

.user-profile {
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
  /* background: #000000; */
}

.profile-head h5 {
  color: #333;
}
.profile-head h6 {
  color: #0062cc;
}
