* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.nav-form {
  visibility: hidden;
}

.left {
  background: rgb(1, 107, 22);
  height: 100vh;
  display: flex;

  justify-content: center;
  align-items: center;
  /* border-radius: 0 50% 50% 0/0 100% 100% 0; */
  border-radius: 0 100% 400% 0;
}
.left img {
  flex-grow: 0.5;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.local-login {
  margin-top: -20px;
}
.local-login,
.local-login input[type="text"] {
  width: 80%;
}
.local-login h2 {
  display: block;
  width: 100%;
}

#login-link {
  width: 80%;
}

.social-login,
.social-login .btn {
  width: 80%;
  margin: 10px 0;
}

.btn-facebbok {
  background-color: #3b5998;
}
.btn-facebbok:hover {
  background-color: #3b5898d0;
}

.error {
  width: 80%;
}
.error > div {
  color: white;
  width: 80%;
  background-color: red;
  border-radius: 5px;
}

#remove-warning {
  float: right;
  margin-right: 20px;
  background-color: white;
  color: black;
}

/* /////////////////////////////////////////////// */
@media screen and (max-width: 768px) {
  .nav-form {
    height: 0;
    width: 0;
  }
  .navbar-nav {
    flex-direction: row;
    justify-content: center;
  }
  .nav-item {
    margin: 0 5px !important;
    padding-bottom: 10px;
  }
  .left {
    display: none;
  }
  .local-login {
    margin-top: 20px;
  }
  .local-login,
  .local-login input[type="text"],
  #signup-link {
    width: 100%;
  }
  .social-login,
  .social-login .btn {
    width: 100%;
    margin: 10px 0;
  }
}
